extends layout

block content
  div(class="content")
    h2 Stats
    if namesHidden
      a(class="toggle-names" href="/stats-with-names") Show Names
    else
      a(class="toggle-names" href="/stats") Hide Names
    ol(style="padding: 0")
      each applicant, i in applicants
        li
          | #{i + 1}.&nbsp;
          if namesHidden
            | xxx (#{applicant.gender})
          else
            | #{applicant.name} (#{applicant.gender})
          | &nbsp;(#{applicant.candidacyScore})
