extends layout

block content
  div(class="content")
    h2 Stats
    if namesHidden
      a(class="toggle-names" href="/stats-with-names") Show Names
    else
      a(class="toggle-names" href="/stats") Hide Names
    div Scores are hidden until two thirds of the users have voted.
    table
      tr
        th
        th Name
        th Gender
        th Score
        th Ones
        th Actives Voted
      each applicant, i in applicants
        tr
          th #{i + 1}
          th
            if namesHidden
              | xxx
            else
              | #{applicant.name}
          th= applicant.gender
          th= applicant.candidacyScore
          th= applicant.ones
          th #{applicant.nVotes}/#{nActives}
